.mypage
  .mypage__header
  .mypage__sub-bar
    %ul
      %li{:itemscope => "", :itemtype => "#"}
        %a{:href => "#", :itemprop => "#"}
          %span{:itemprop => "title"} メルカリ
        %i.icon-arrow-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li{:itemscope => "", :itemtype => "#"}
        %span{:itemprop => "title"} マイページ

  .mypage__content
  .mypage__banner
  .mypage__footer

    
    