.mypage
  .mypage__header
    header
  .mypage__sub-bar
    %ul
      %li{itemscope: "", itemtype:"#"}
        %a{href: "#", itemprop: "#"}
          %span{itemprop: "title"} フリマ
        %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li{itemscope: "", itemtype:"#"}
        %span{itemprop: "title"} マイページ

  .mypage__contents.clearfix
    = render "shared/mypage-left-side"
    .mypage__contents__main
      .mypage-user-info
        .mypage-user-info__content
          .mypage-user-info__content--icon
            = image_tag 'member_photo_noimage_thumb.png', alt: 'logo', class: 'user-logo'
          .mypage-user-info__content--detail
            %div ジョシュ
            .mypage-number
              %span
                評価
                %span.bold 0
              %span
                出品数
                %span.bold 0

      .mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                お知らせ
          %li
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                やることリスト
        .tab-content

      .mypage-tab-container
        .mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                取引中
          %li
            %h3
              %a{"data-toggle" => "tab", href: "#"}
                過去の取引
        .tab-content
  .mypage__banner
    app-banner
  .mypage__footer
    footer
    
  
  