.account-page__footer
  .nav
    %span.policy プライバシーポリシー
    %span.rule メルカリ利用規約
    %span.notation 特定商取引に関する表記
  %h1
    = link_to '#' do
      = image_tag 'logo-white.png', alt: 'logo', class: 'logo'
