= render "shared/user-header"
.order-section
  .contents 
    .page-title
      購入完了しました
      %br
      = link_to('トップページに戻る', root_path, class:'toppage-btn')
= render "shared/appBanner"
= render "shared/main-footer"