.mypage
  .mypage__header
    header
  .mypage__sub-bar
    %ul
      %li{itemscope: "", itemtype:"#"}
        %a{href: "#", itemprop: "#"}
          %span{itemprop: "title"} フリマ
        %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li{itemscope: "", itemtype:"#"}
        %a{href: "#", itemprop: "#"}
          %span{itemprop: "title"} マイページ
        %i.icon-chevron-right
          = icon('fas', 'chevron-right', class: 'icon')
      %li{itemscope: "", itemtype:"#"}
        %span{itemprop: "title"} 支払い方法

  .mypage__contents.clearfix
    = render "shared/mypage-left-side"
    .mypage__contents__main      
      .log-out  
        .log-out__form
          .log-out__form__click
            =link_to("ログアウト", destroy_user_session_path, class: "log-out-link") 

  .mypage__banner
    app-banner
  .mypage__footer
    footer
