.account-page {
  background-color:#f6f6f6;
  &__header{
    height: 128px;
    background-color:#f6f6f6;
    text-align: center;
    position: relative;
    h1{
      width: 185px;
      height: 49px;
      position: absolute;
      top: 20px;
      left: 630px;
      .logo{
        height: 50px;
        text-align: center;

      }
    }
  }
  &__contents{
    background-color: #f6f6f6;
    &__title{
      width: 60%;
      height: 100px;
      background-color:white;
      margin: 0 auto;
      text-align: center;
      font-size: 25px;
      line-height: 100px;
      border-bottom: solid 1px  #f6f6f6;
    }
    &__register{
      width: 60%;
      background-color: white;
      margin: 0 auto;
      .new_user{
        padding: 40px 60px 64px;
        
        .field {
          margin-left: 190px;
          .field-label {
            padding: 10px 0;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 200;
            .form-require{
              background: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }     
          }
          .field-input {
            input {
              width: 60%;
              padding: 10px;
              letter-spacing: 1px;
              margin: 0 auto;
            }
            
            i{
              display: block;
              color: gray;
              font-size: 12px;
            }
          }
          .field-fullname{
            display: flex;
            
            .field-inputs-last{
              width: 30%;
              height: 30px;
            }
            .field-inputs-first{
              width: 30%;
              height: 30px;
            }
            #user_nickname{
              height: 30px;
            }
          }
          .field-birth-info{
            display: flex;
            #user_nickname{
              height: 30px;
              width: 40px;
            }
          }
        }
        .btn{
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          display: block;
          width: 100px;
          line-height: 30px;
          font-size: 14px;
          margin-left: 440px;
          margin-top: 50px;
        }
      }
    }
  }
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px ;
    .nav{
      
      span{
        font-size: 12px;
        margin-right: 33px;
      }
    }
    h1{
      width: 80px;
      height: 65px;
      margin: 40px 130px;
      .logo{
        height: 50px;
        text-align: center;

      }
    }
  }
}
