.add-credit-card{
  background-color: white;
  margin-top: 30px;
  &__header{
    font-size: 24px;
    padding: 8px 24px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 1px #eee;
  }
  &__content{
    background-color:white;
    width:343px;
    margin: 10px auto;
    padding: 10px 0;
    .registers{
      width: 343px;
      margin: 0 auto;
      &__card-num{
        height: 100px;
        .heading{
          width: 70px;
          font-weight: 600;
          font-size: 14px;
        }
        .form-require{
          background: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }  
        .card-num-box{
          display: block;
          width: 100%;
          border: 1px solid #ccc;
          height: 50px;
          font-size: 16px;
          padding-left: 10px;
          border-radius: 4px;
          margin-top: 8px;
        }
      }
      &__exp-date{
        height: 100px;
        .heading{
          width: 70px;
          font-weight: 600;
          font-size: 14px;
        }
        .form-require{
          background: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }   
        .expire{
          .exp-box{
            width: 132px;
            border: 1px solid #ccc;
            height: 50px;
            font-size: 16px;
            padding-left: 10px;
            border-radius: 4px;
            margin-top: 8px;
            background-color: white;
          } 
        }
      }
      &__security-num{
        height: 100px;
        .heading{
          width: 70px;
          font-weight: 600;
          font-size: 14px;
        }
        .form-require{
          background: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }     
        .security-num-box{
          display: block;
          width: 100%;
          border: 1px solid #ccc;
          height: 50px;
          font-size: 16px;
          padding-left: 10px;
          border-radius: 4px;
          margin-top: 8px;
        }
      }
    }
    .add-card{
      padding: 10px 0;
      .submit-btn{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        border: solid #3CCACE;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #3CCACE;
      }
    }
    &__list{
      width:343px;
      text-align: center;
      &--number{
        font-size: 25px;
        span.label{
          margin-right:10px;
        }
      }
      &--information{
        font-size: 25px;
        span.label{
          margin-right:100px;
        }
      }
      &--btn{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        border: solid #3CCACE;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #3CCACE;
      }
    }
  }
}