// メインヘッダーのリンク
.header_link{
  font-weight: bold;
  &:hover {
    color: #ffb340;
  }
}

// 通常サイズの商品一覧表示
.sale-items{
  display: flex;
  flex-wrap: wrap;
  .sale-item{
    background-color: white;
    width: 188px;
    height: 246px;
    text-decoration: none;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    &:hover {
      border: 0.5px solid  #3CCACE;
    }
    .soldout-badge {
      position: absolute;
      top: 0;
      left: 0;
      background-color:  #3CCACE;
      color: white;
      font-size: 20px;
      padding: 30px 50px 10px;
      transform: rotate(-45deg) translate(-35px, -45px);
      text-align: center;
    }

    &__body {
      position: relative;
      height: 58px;
      padding: 8px 12px;
      &__name {
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
      }
      &__price {
        z-index: 1;
        position: absolute;
        top: -30px;
        left: 0;
        padding: 4px 12px 4px 8px;
        border-radius: 0 16px 16px 0;
        font-weight: 600;
        color: #fff;
        background-color: rgba(0,0,0,0.3);
      }
    }
  }
}