.mypage{
  background-color: #f5f5f5;
  * {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  width: 100%;
  &__header{
    background-color: green;
    height: 100px;
  }
  &__sub-bar{
    border-top: 1px solid #eee;
    background-color:#fff;
    height: 50px;
    
    ul{
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;
      width: 1020px;
      margin: 0 auto;
      li{
        line-height: 50px;
        font-size: 14px;
        a{
          color: black;
        }
        .icon{
          margin: 0 8px;
          font-size: 9px;
          color: #888;
        }
      }
    }
    
  }

  
  &__contents{
    background-color: #f5f5f5;
    margin: 0 auto ;
    padding: 20px 0 20px;
    width: 1020px;

    &__left{
      background-color:  #f5f5f5;
      width: 280px;
      margin: 0 40px 0 0;
      float: left;
      .mypage-nav{
        background-color: #f5f5f5;
        ul.mypage-nav-list{
          list-style: none;
          li{
            border-top: 1px solid #eee;
            .link{
              color: black;
              font-size: 14px;
              text-decoration: none;
              position: relative;
              display: block;
              padding: 16px;
              background: #fff;
              cursor: pointer;
              .icon{
              position: absolute;
              right: 16px;
              color: #eee;
              }
              &:hover {
                background-color: #ddd;
                .icon {
                  transition: all 0.3s ease 0s;
                  transform: translate(3px,0px);
                  color: black;
                }
              }
            }
          }
        }
        
        h3.mypage-nav-head{
          background-color:  #f5f5f5;
          color:black;
          margin: 40px 0 0;
          padding-bottom: 5px;
        }
      }
    }


    &__main{
      background-color: #f5f5f5;
      width: 700px;
      float: right;
      .mypage-user-info{
        background-image: url("1fe04de060d8a688e5852de9236fdda6_t.jpeg");
        background-size: cover;
        position: relative;
        padding: 20px;
        height: 200px;
        &__content{
          text-align: center;
          margin-top: 50px;
          &--icon{

            .user-logo{
              height: 60px;
              width: 60px;
            }
          }
          &--detail{
            font-size: 14px;
            div{
              margin-top: 8px;
              font-weight: bold;
            }
            .mypage-number{
              margin-top: 8px;
              span{
                margin-left: 10px;
              }
            }
          }
        }
      }
      .mypage-tab-container-notification-todo{
        background-color: #ccc;
        height: 300px;
        ul.mypage-tabs{
          list-style: none;
          display: flex;
          li{
            width: 50%;
            h3{
              text-align: center;
              a{
                text-decoration: none;
                font-size: 16px;
                line-height: 72px;
                color: black;
              }
            }
          }
        }
        .tab-content{
          height: 228px;
          background-color: white;
        }
      }

      .mypage-tab-container{
        background-color: #ccc;
        height: 372px;
        margin: 40px 0 0;
        .mypage-tab-head{
          line-height: 72px;
          background-color:#fff;
          padding: 0 16px;
          font-size: 16px;
          font-weight: bold;
        }
        ul.mypage-tabs{
          list-style: none;
          display: flex;
          li{
            width: 50%;
            h3{
              text-align: center;
              a{
                text-decoration: none;
                font-size: 16px;
                line-height: 72px;
                color: black;
              }
            }
          }
        }
        .tab-content{
          height: 228px;
          background-color: white;
        }  
      }


      // ログアウトページ
      .log-out{
        background-color: white;
        padding: 60px;
        margin-top: 30px;
        
        &__form{
          line-height: 48px;
          
          text-align: center;
          &__click{
            font-size: 14px;
            background-color: #3CCACE;
            width: 340px;
            margin: 0 auto;
            cursor: pointer;
            a {
              color: white;
            }
          }
        }
      }    
      
      // 支払選択ページ
      .credit-card{
        background-color: lightpink;
        margin-top: 30px;
        &__header{
          font-size: 24px;
          padding: 8px 24px;
          background-color: white;
          text-align: center;
          border-bottom: solid 1px #eee;
          
        }
        &__content{
          background-color:white;
          padding: 60px;
          .select-card{
            h3{
              padding-left: 200px;
              font-size: 16px;
            }
          }
          .add-card{
            padding: 24px 0;
            &__click{
              text-align: center;
              width: 340px;
              margin: 0 auto;
              line-height: 48px;
              font-size: 14px;
              color: white;
              background-color: #3CCACE;
            }
          }
        }
      }
    }
    &:after{
      clear: both;
      content: "";
      display: block;
    }
  }
}

.credit-card{
  background-color: lightpink;
  margin-top: 30px;
  &__header{
    font-size: 24px;
    padding: 8px 24px;
    background-color: white;
    text-align: center;
    border-bottom: solid 1px #eee;
    
  }
  &__content{
    background-color:white;
    padding: 60px;
    .select-card{
      h3{
        padding-left: 200px;
        font-size: 16px;
      }
    }
    .add-card{
      padding: 24px 0;
      &__click{
        text-align: center;
        width: 340px;
        margin: 0 auto;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #3CCACE;
      }
    }
  }
}
