.order-section{
  background-color: #f5f5f5f5;
  padding-bottom: 100px;
  .contents{
    width: 50vw;
    height: 90%;
    margin: auto;
    padding-bottom:20px;
    background-color: white;
    .page-title{
      width: 60%;
      height: 80px;
      margin: 0 auto;
      text-align: center;
      font-size: 35px;
      line-height: 80px;
    }
    .item-contents{
      height: 250px;
      display:flex;
      justify-content: center;
      padding: 0 100px;
      border-top:solid 1px grey;
      border-bottom:solid 1px grey;
      .item-photo{
        height: 200px;
        margin: auto 0;
      }
      .item-detail{
        height: 200px;
        width: 200px;
        margin: auto 20px;
        position: relative;

        &__name{
          background-color: white;
          margin:2px;
          font-size:22px;
          position: absolute;
          top: 10px;
        }
        &__price{
          background-color: white;
          font-weight: bold;
          margin:2px;
          font-size:20px;
          position: absolute;
          top:50px;
          &--yen_mark{
            margin-right: 16px;
            font-size: 20px;
            font-weight: 600;
          }
          &--tax{
            font-size: 10px;
          }
        }
      }
    }
    .buy-contents{
      height:60%;
      .field{
        height: 100px;
        display: flex;
        align-items:center;
        justify-content: center;
        &__price-label{
          height: 100px;
          width:250px;
          line-height: 100px;
          text-align: center;
          font-size: 30px;
          border-bottom: solid 1px grey;
        }
        &__item-price{
          height: 100px;
          width: 250px;
          line-height: 100px;
          font-size: 30px;
          border-bottom: solid 1px grey;
        }
        &__credit-label{
          height: 100px;
          width: 250px;
          line-height: 100px;
          text-align: center;
          font-size: 30px;
          border-bottom: solid 1px grey;
        }
        &__credit-information{
          height: 100px;
          width:250px;
          line-height: 50px;
          font-size: 20px;
          border-bottom: solid 1px grey;
          &--label{
            font-size:10px;
            margin-right: 20px;
          }
        }
        &__credit-registration{
          height: 100px;
          width: 250px;
          line-height: 100px;
          font-size: 20px;
          border-bottom: solid 1px grey;

        }
        &__send-label{
          height: 100px;
          width:250px;
          line-height: 100px;
          text-align: center;
          font-size: 30px;
          border-bottom: solid 1px grey;
        }
        &__send-address{
          height: 100px;
          width:250px;
          line-height: 50px;
          font-size: 15px;
          border-bottom: solid 1px grey;
        }
      }
      .field_app{        
        margin:50px 0;
        &__text{
          text-align: center;
        }
        &__icons{
          display:flex;
          align-items: center;
          justify-content: center;
        }
      }
      .order-btn{
        height: 50px;
        &--active{
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          display: block;
          width: 500px;
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          margin: 20px auto;
        }
        &--inactive{
          text-align: center;
          background-color: gray;
          color: #fff;
          display: block;
          width: 500px;
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          margin: 20px auto;
        }
      }
    }
  }
}