// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, "游ゴシック", "YouGothic", "メイリオ", "Meiryo", sans-serif;
}

body, 
div, 
dl, 
dt, 
dd, 
ul, 
ol, 
li, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
pre, 
code, 
form, 
fieldset, 
legend, 
input, 
textarea, 
p, 
blockquote, 
th, 
td {
  padding: 0;
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

header {
  display: block;
}