// 商品詳細ページ
.sales-show{ 
  height: 1200px;
  background-color: #f5f5f5;
  padding: 40px 0;
  &__contents{
    background-color:white;
    width: 700px;
    margin: auto;
    padding: 24px 40px 40px;
    &__name{
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    &__main{
      background-color: white;
      margin-top: 20px;
      .sale-photo{
        float: left;
        height: 420px;
        width: 300px;
        background-color:white;
        .bx-viewport{
          height: 300px;
          .bxslider{
            height: 300px;
            width: 300px;
            display: flex;
            align-items: center;
            .photo-image {
              max-height: 290px;
              max-width: 290px;
            }
            .custom-thumb{
              display: inline-block;
              height: 120px;
              width: auto;
              overflow: hidden;
            }
          }
        }
      }
      .sale-detail-table{
        float: right;
        width: 300px;
        table{
          font-size: 14px;
          color: black;
          tr{
            height: 70px;
            border: solid 1px #eee;
            th{
              width: 117px;
              text-align: left;
              font-weight: 400;
              background: #fafafa;
              display: table-cell;
              vertical-align: middle;
              padding: 10px;
            }
            td{
              width: 182px;
              background: #fff;
              padding-left: 10px;
              display: table-cell;
              vertical-align: middle;
              border-left: solid 1px #eee;
              .category_link {
                color:  #3CCACE;
                display: block;
                font-size: 14px;
                line-height: 14px;
                &:hover {
                  color: lightskyblue;
                }
                &__name {
                  display: inline;
                  &:hover {
                    border-bottom: 1px solid lightskyblue;
                  }
                }
              }
            }
          }
        }
      }
      &:after{
        clear: both;
        content: "";
        display: block;
      }
    }
    &__price-box{
      height: 50px;
      width: 620px;
      text-align: center;
      margin: 24px 0 0 0;
      .item-price{
        margin-right: 16px;
        font-size: 50px;
        font-weight: 600;
      }
      .item-tax{
        font-size: 10px;
      }
    }
    &__discription{
      margin: 30px 0 40px 0;
      white-space: pre-wrap;
    }
    &__edit{
      height: 60px;
      background-color:#3CCACE;
      text-align: center;
      .edit-btn{
        color: white;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        display: block;
      }
    }
    &__inactive{
      height: 60px;
      background-color: gray;
      text-align: center;
      .edit-btn{
        color: white;
        font-size: 24px;
        line-height: 60px;
        text-align: center
      }
    }
    span.or{
      display: block;
      width: center;
      margin: 20px auto;
      text-align: center;
      font-size: 20px;
    }
  }
  .prev_and_next {
    margin: 24px auto 0;
    width: 700px;
    display: flex;
    justify-content: space-between;
    .link {
      width: 45%;
      color:  #3CCACE;
      font-size: 14px;
      &:hover {
        border-bottom: 1px solid lightskyblue;
        color: lightskyblue;
      }
    }
  }
}

