.account-page {
  background-color:#f6f6f6;
  &__header{
    height: 128px;
    text-align: center;
    h1{
      margin: 40px 0 0;
      display: inline-block;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        .logo{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  &__contents{
    background-color: #f6f6f6;
    &__title{
      width: 456px;
      background-color:white;
      margin: 0 auto;
      text-align: center;
      font-size: 25px;
      border-bottom: solid 1px  #f6f6f6;
      position: relative;
      .login-acount {
        padding: 40px 64px;
        text-align: center;
        font-size: 14px;
        .registration-btn{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
        }
      }
      .login-api {
        padding: 32px 64px;
        border-top: 1px solid #eee;
        .facebook-btn {
          line-height: 40px;
          width: 100%;
          font-size: 14px;
          background-color: #385185;
          color: white;
          display: inline-block;
        }
        .icon {
          position: relative;
          .fab {
            position: absolute;
            bottom: 8px;
            left: 20px;
          }
        }
        .google-btn {
          line-height: 40px;
          background: #fff url(/jp/assets/images/google-login.png) no-repeat 3px top;
          border: #979797 solid 1px;
          color: #333;
          font-size: 14px;
          display: inline-block;
          width: 100%;
          margin: 16px 0 0;
        }
      }
    }
    
    .login-inner {
      padding: 24px 64px 32px;
    }
    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;
    }
    .field-input {
      input {
        height: 48px;
        padding: 10px 90px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 14px;
        text-align: center;
      }
      i{
        display: block;
        color: gray;
        font-size: 12px;
        margin: 5px 0;
      }
    }
    .btn{
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      line-height: 40px;
      font-size: 14px;
      margin-top: 20px;
      width: 100%;
    }
    
  }

  
  
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    .nav{
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      ul{
        font-size: 0;
        list-style: none;
        li {
          display: inline-block;
          font-size: 12px;
          margin: 0 0 0 16px;
        }
      }
    }
    h1{
      width: 80px;
      height: 65px;
      margin: 40px 130px;
      .logo{
        height: 50px;
        text-align: center;
      }
    }
  }
}