.pcHeader
  .headerInner
    .mainHeader
      %h1.icon
        = link_to "#" do
          = image_tag 'logo.png', alt: 'logo',  class: 'logo'
      .searchBox
        %form{action: ""}
          %input{name: "utf8", type: "hidden"}/
          %input.searchBox--input{id: "searchInput", name: "key", placeholder: "キーワードから探す"}/
          %button{type: "submit"}/
          .searchBox__icon
            %i.fas.fa-search
            -# = image_tag 'icon-search.png', alt: 'icon-search', class: 'icon-search'
        %input{type: "hidden", name: "authenticity_token", value: ""}/
      %ul.resultLists


    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          %a{id: "catBtn", href: "#"}
            カテゴリー
          .tree.displayNone
          -# ここからの階層はあとで記述
        %li.listsLeft__item
          %a{id: "brandBtn", href: "#"}
            ブランド
          %ul.brandsPuldawn.displayNone
          -# ここからの階層はあとで記述

      %ul.listsRight
        %li.listsRight__item.listsRight__item--login
          %a{href: "#"}
            ログイン
        %li.listsRight__item.listsRight__item--new
          %a{href: "#"}
            新規会員登録

.main

.appBanner

.footer