.pcHeader
  .haderInner
    .mainHeader
      %h1.icon
        %a(href="")
      .searchBox
        %form(action="")
          %input(type="text")/
          %input(type="text")/.searchBox--input
          %button
            .searchBox__icon
              %img(src="" alt="")/
          %input(type="")/
      %ul.resultLists


    .nav
      %ul.listLeft
        %li.listLeft__item.listLeft__item--first
          %a(id="" href="")
          .tree.displayNone
          -# ここからの階層はあとで記述
        %li.listLeft__item
          %a(id="" href="")
          %ul.brandsPuldawn.displayNone
          -# ここからの階層はあとで記述

      %ul.listright
        %li.listRight__item.listRight__item--login
          %a(href="")
        %li.listRight__item.listRight__item--new
          %a(href="")

.main

.appBanner

.footer


