.mypage
  .mypage__header
    header
  .mypage__contents
    .mypage__contents__main
      .credit-card
        .credit-card__header
          商品名
        .credit-card__content
          

  .mypage__banner
    app-banner
  .mypage__footer
    footer