= render "shared/main-header"
.sales-show
  .sales-show__contents
    .sales-show__contents__name
      バックパック
    .sales-show__contents__main.clearfix
      .sale-photo
      .sale-detail-table
        %table
          %tr
            %th 出品者
            %td ジョシュ
          %tr
            %th カテゴリ
            %td メンズ
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送元地域
            %td 大阪府
          %tr
            %th 発送日の目安
            %td 4~7日で発送
    .sales-show__contents__price-box
      %span.item-price
        4,500円
      %span.item-tax
        (税込)
    .sales-show__contents__purchase
      = link_to('購入画面に進む', root_path, class: 'purchase-btn')
    .sales-show__contents__discription
      ポケットも多く(上部、表面、サイド腰部分)
      日帰り登山には使いやすいバックパック。
      容量：20.5L
      高さ：約560mm
      幅：約300mm
      奥行：約200mm
      カラー：ブラック
      素材：ポリエステル
        
        
= render "shared/appBanner"
= render "shared/main-footer"






